* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.AppMenu, .Game {
  padding: 10px 50px;
}

.AppMenu button {
  width: 7rem;
  height: 3rem;
  margin-top: 20px;

  background-color: #4caf50;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;

  animation-name: "buttonHoverExit";
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#autobrew-button {
  width: 5rem;
  background-color: #1f8dba;
}

#autobrew-button:hover {
  background-color: #45b3e0;
}

.AppMenu button:hover {
  cursor: pointer;

  animation-name: "buttonHover";
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.top-header-fix {
  font-size: 2.5rem;
  font-family: 'Silkscreen', Arial;
  background-color: #439445;
  color: white;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-header-fix img {
  width: 75px;
  height: 75px;
  margin-left: 30px;
  opacity: 0.6;
}

.header-items {
  display: flex;
  flex-direction: row;
}

#leave-button {
  color: #FFF;
  font-size: 1rem;
  background-color: #D93B45;
  border: none;
  border-radius: 3px;
  width: 4rem;
  height: 2rem;
}

#leave-button:hover {
  background-color: #D84953;
}

@keyframes buttonHover {
  from {
    border-radius: 10px;
  } to {
    border-radius: 0;
  }
}

@keyframes buttonHoverExit {
  from {
    border-radius: 0;
  } to {
    border-radius: 10px;
  }
}

.Ressources, .Business, .Tools {
  border: 2px solid #439445;
  border-radius: 3px;
  padding: 30px;
}

.Ressources {
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stats {
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4caf50;
}

.stats h1 {
  margin-left: 30px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

.items ul {
  list-style-type: none;
}

.Business, .Tools {
  margin-bottom: 20px;
  display: flex;
}

.Market, .Store {
  display: flex;
  flex-direction: column;
}

.Store, .Deals, .Upgrades {
  margin-left: 40px;
}

.Market img, .Craft img, .Store img, .Deals img, .Upgrades img {
  width: 50px;
  height: 50px;
}

.ingredients, .craftables, .sellables, .dealables, .upgradeables {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #439445;
  border-radius: 5px;
  margin: 10px;

  font-size: 11px;
}

.item * {
  margin-bottom: 10px;
}

.item button {
  width: 3rem;
  height: 1.3rem;
  background-color: #439445;
  color: white;
  border: none;
  border-radius: 3px;
}

.item button:hover {
  background-color: #4caf50;
}

.item button:active, #leave-button:active {
  font-weight: 600;
}

.deactivated {
  border: 2px solid grey;
}

.deactivated img {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

.deactivated button {
  background-color: grey;
}

.deactivated button:hover {
  background-color: grey;
}

.deactivated button:active {
  font-weight: 400;
}